
 <div class="row">
  <div class="col-md-12">
  <h1 style="text-align: center;">KODAVA SAMAJA (R)</h1>
  <p style="text-align: center;">No. 7, 1st Main Road, Vasanthanagar, Bangalore - 560 052
  Phone : 2226 0188 / 2235 1088</p>
          <p style="text-align: center;">APPLICATION FOR MEMBERSHIP</p>
  </div>
</div> 
<%= form_with(model: membership_form, local: true) do |form| %>
  <% if membership_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(membership_form.errors.count, "error") %> prohibited this membership_form from being saved:</h2>

      <ul>
      <% membership_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class= "container">
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">Name with Initials and Family Name</label>
    <div class="col-sm-8">
      <%= form.text_field :name ,class:"form-control"%>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-4 col-form-label">Father’s Name with Family Name</label>
    <div class="col-sm-8">
      <%= form.text_field :father_name ,class:"form-control"%>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-4 col-form-label">Mother’s Name with Family Name (Thamane)</label>
    <div class="col-sm-8">
    <%= form.text_field :mother_name ,class:"form-control"%>
    </div>
  </div>

  <h4>IF MARRIED</h4>

  <div class="form-group row">
    <label class="col-sm-4 col-form-label">(a) Husband’s Name with Family Name</label>
    <div class="col-sm-8">
    <%= form.text_field :husband_name ,class:"form-control"%>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-4 col-form-label">(b) Husband’s Mother’s Family Name</label>
    <div class="col-sm-8">
    <%= form.text_field :husbands_mother_name  ,class:"form-control"%>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-4 col-form-label">(c) Wife’s Name with Family Name (Thamane) </label>
    <div class="col-sm-8">
      <%= form.text_field :wifes_name  ,class:"form-control"%>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-4 col-form-label">(d) Number of members in the family</label>
    <div class="col-sm-8">
      <%= form.number_field :no_family_members ,class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-4 col-form-label"> (e) Occupation of the Members</label>
    <div class="col-sm-8">
      <%= form.text_field :occupation  ,class:"form-control"%>
    </div>
  </div>

  <%
=begin%>
 <div class="form-group row">
    <label class="col-sm-2 col-form-label">Age</label>
    <div class="col-sm-2">
    <%= form.number_field :age  ,class:"form-control"%>
    </div>
    <label class="col-sm-2 col-form-label">DOB</label>
     <div class="col-sm-2">
    <%= form.date_select :dob ,class:"form-control" %>
    </div>
  </div> 
<%
=end%>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputCity">Age</label>
       <%= form.number_field :age  ,class:"form-control"%>
    </div>
    <div class="form-group col-md-3">
      <label for="inputState">DOB</label>
      <%= form.text_field :dob ,class:"form-control" %>
    </div>
    <div class="form-group col-md-3">
      <label for="inputZip">Sex</label>
      <br>
      <%= form.select :sex, options_for_sex, :prompt => 'Select One',class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <label for="inputZip">Blood Group</label>
      <%= form.text_field :blood_group ,class:"form-control" %>
    </div>
  </div>
  <%= form.hidden_field :user_id, :value =>  current_user.id,class:"form-control" %>
  <%= form.hidden_field :admin_id, :value =>  current_user.id,class:"form-control" %>
  <div class="form-group row">
    <%= form.label :local_address %>
    <%= form.text_area :local_address  ,class:"form-control"%>
  </div>

  <div class="form-group row">
    <div class="form-group col-md-4">
      <%= form.label :local_pin %>
      <%= form.number_field :local_pin  ,class:"form-control"%>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :l_mobile_no %>
      <%= form.text_field :l_mobile_no  ,class:"form-control"%>
    </div>

    <div class="form-group col-md-4">
      <%= form.label :l_tele_no %>
      <%= form.text_field :l_tele_no  ,class:"form-control"%>
    </div>
  </div>


  <div class="form-group row">
    <%= form.label :kodagu_address %>
    <%= form.text_area :kodagu_address  ,class:"form-control"%>
  </div>

  <div class="form-group row">
    <div class="form-group col-md-4">
    <%= form.label :k_pin %>
    <%= form.number_field :k_pin  ,class:"form-control"%>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :k_mobile_no %>
      <%= form.text_field :k_mobile_no  ,class:"form-control"%>
    </div>

    <div class="form-group col-md-4">
      <%= form.label :k_tele_no %>
      <%= form.text_field :k_tele_no  ,class:"form-control"%>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-sm-4 col-form-label">Nominee for Death Fund with relationship</label>
    <div class="col-sm-8">
    <%= form.text_field :nominee_of_death_fund  ,class:"form-control"%>
    </div>
  </div>

  <h6>Kindly enroll me as a Life / Associate Member of the Kodava Samaja, Bangalore. I agree to abide by the rules and regulations of the Bye-Law of the Samaja.</h6>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Date</label>
    <div class="col-sm-4">
      <%= form.date_select :form_date  ,class:"form-control"%>
    </div>
    <label class="col-sm-2 col-form-label">Sign</label>
    <div class="col-sm-4">
    <%= form.text_field :applicants_sign  ,class:"form-control" %>
    </div>
  </div>

  <%
=begin%>
 <table class="table table-dark">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr> 
    
    </tr>
  </tbody> 
<%
=end%>

  <div class="form-group row">
    <div class="form-group col-md-3">
      <label class=""> Proposer with Family Name </label>
      <%= form.text_field :proposer_family_name  ,class:"form-control"%>
    </div>
    <div class="form-group col-md-3">
      <%= form.label :proposer_mobile %>
      <%= form.text_field :proposer_mobile  ,class:"form-control"%>
      <br>
      <%= form.label :proposer_tele %>
      <%= form.text_field :proposer_tele  ,class:"form-control"%>
    </div>
    <div class="form-group col-md-3">
      <%= form.label :proposer_memebership_no %>
      <%= form.text_field :proposer_memebership_no  ,class:"form-control"%>
    </div>
    <div class="form-group col-md-3">
      <%= form.label :proposer_sign %>
      <%= form.text_field :proposer_sign ,class:"form-control"%>
    </div>
  </div>

  <div class="form-group row">
    <div class="form-group col-md-3">
      <%= form.label :seconder_family_name %>
      <%= form.text_field :seconder_family_name ,class:"form-control"%>
    </div>
    <div class="form-group col-md-3">
      <%= form.label :seconder_mobile %>
      <%= form.text_field :seconder_mobile,class:"form-control" %>
      <br>
      <%= form.label :seconder_tele %>
      <%= form.text_field :seconder_tele ,class:"form-control"%>
    </div>
    <div class="form-group col-md-3">
      <%= form.label :seconder_memebership_no %>
      <%= form.text_field :seconder_memebership_no ,class:"form-control"%>
    </div>
    <div class="form-group col-md-3">
      <%= form.label :seconder_sign %>
      <%= form.text_field :seconder_sign ,class:"form-control"%>
    </div>
  </div>

  <h6>The Proposer and the Seconder should know the full details of the applicant.</h6>

  <div class="form-group row">
    <div class="form-group col-md-3">
      <%= form.label :membership_fee %>
      <%= form.text_field :membership_fee ,class:"form-control"%>
    </div>
    <div class="form-group col-md-3">
      <%= form.label :receipt_no %>
      <%= form.text_field :receipt_no ,class:"form-control"%>
    </div>
  </div>

  <div class="form-group row">
    <div class="form-group col-md-3">
      <%= form.label :cash_dd %>
      <%= form.text_field :cash_dd ,class:"form-control"%>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :receipt_date %>
    <br>
      <%= form.date_select :receipt_date ,class:"form-control"%>
    </div>
    <% if current_user.role.name == "Admin" || current_user.role.name == "Super Admin"  %>
    <div class="form-group col-md-4">
      <%= form.label :status %>
      <%#= form.text_field :status ,class:"form-control"%>
      <%= form.select :status, status, :prompt => 'Select One',class: "form-control" %>
    </div>
    <% end %>
  </div>

  <%
=begin%>
 <div class="form-group row">
    <%= form.label :user_id %>
    <%= form.number_field :user_id,class:"form-control" %>
  </div> 
<%
=end%>


  <div class="form-group row">
    <div class="form-group col-md-4">
      <%= form.label :president_sign %>
      <%= form.text_field :president_sign ,class:"form-control"%>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :hon_secretary_sign %>
      <%= form.text_field :hon_secretary_sign ,class:"form-control"%>
    </div>
  </div>


  <div class="actions">
    <%= form.submit "Submit",class: "btn btn-primary"%>
    <% if current_user.role.name == "User" %>
      <%= link_to 'Home', home_path ,class: "btn btn-light"%>
      <br>
    <%else%>
      <%= link_to 'Back', membership_forms_path ,class: "btn btn-primary"%>
    <%end%>
    <br>
  </div>
  </div>
<% end %>
