<p id="notice"><%= notice %></p>

<h3>All Membership Forms</h3>

<%= button_to 'Create Membership Form', new_membership_form_path,class: "btn-btn primary",method: "get" %>
<br>
<table class="table table-dark">
  <thead>
    <tr>
      <th>Name</th>
      <th>Father name</th>
      <th>Mother name</th>
      <th>Age</th>
      <th>Dob</th>
      <th>Sex</th>
      <th>Status</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @membership_forms.each do |membership_form| %>
      <tr>
        <td><%= membership_form.name %></td>
        <td><%= membership_form.father_name %></td>
        <td><%= membership_form.mother_name %></td>
        <td><%= membership_form.age %></td>
        <td><%= membership_form.dob %></td>
        <td><%= membership_form.sex %></td>
        <td><%= membership_form.status %></td>
        <td><%= membership_form.admin.name %></td>
        <td><%= link_to 'Show', membership_form %></td>
        <td><%= link_to 'Edit', edit_membership_form_path(membership_form) %></td>
        <td><%= link_to 'Destroy', membership_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


