<p id="notice"><%= notice %></p>

<h1>Membership Forms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Father name</th>
      <th>Mother name</th>
      <th>Age</th>
      <th>Dob</th>
      <th>Sex</th>
      <th>Blood group</th>
      <th>Local address</th>
      <th>Local pin</th>
      
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @membership_forms.each do |membership_form| %>
      <tr>
        <td><%= membership_form.name %></td>
        <td><%= membership_form.father_name %></td>
        <td><%= membership_form.mother_name %></td>
        <td><%= membership_form.age %></td>
        <td><%= membership_form.dob %></td>
        <td><%= membership_form.sex %></td>
        <td><%= membership_form.blood_group %></td>
        <td><%= membership_form.local_address %></td>
        <td><%= membership_form.local_pin %></td>
        
        <td><%= membership_form.status %></td>
        <td><%= membership_form.user_id %></td>
        <td><%= link_to 'Show', membership_form %></td>
        <td><%= link_to 'Edit', edit_membership_form_path(membership_form) %></td>
        <td><%= link_to 'Destroy', membership_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership Form', new_membership_form_path %>
