<p id="notice"><%= notice %></p>

<p>
  <strong>Name with Initials and Family Name:</strong> <%= @membership_form.name %>
</p>

<p>
  <strong>Father's Name with Family Name</strong> <%= @membership_form.father_name %>
</p>

<p>
  <strong>Mother's Name with Family Name (Thamane)</strong> <%= @membership_form.mother_name %>
</p>

IF MARRIED

  <p>
  <strong>(a) Husband's Name with Family Name</strong><%= @membership_form.husband_name %>
</p>

<p>
  <strong>(b) Husband's Mother's Family Name </strong> <%= @membership_form.husbands_mother_name %>
</p>

<p>
  <strong>(c) Wife's Name with Family Name (Thamane)</strong>
  <%= @membership_form.wifes_name %>
</p>
<div class="container">
<div class="row">
  <div class="col">
    <p>
      <strong>d) Number of members in the family</strong>
      <%= @membership_form.no_family_members %>
    </p>
  </div>
  <div class="col">
    <p>
      <strong>(e) Occupation of the Members</strong>
      <%= @membership_form.occupation %>
    </p>
  </div>
</div>

</div>


<p>
  <strong>Age:</strong>
  <%= @membership_form.age %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @membership_form.dob %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @membership_form.sex %>
</p>

<p>
  <strong>Blood group:</strong>
  <%= @membership_form.blood_group %>
</p>

<p>
  <strong>Local address:</strong>
  <%= @membership_form.local_address %>
</p>

<p>
  <strong>Local pin:</strong>
  <%= @membership_form.local_pin %>
</p>

<p>
  <strong>L mobile no:</strong>
  <%= @membership_form.l_mobile_no %>
</p>

<p>
  <strong>L tele no:</strong>
  <%= @membership_form.l_tele_no %>
</p>

<p>
  <strong>Kodagu address:</strong>
  <%= @membership_form.kodagu_address %>
</p>

<p>
  <strong>K pin:</strong>
  <%= @membership_form.k_pin %>
</p>

<p>
  <strong>K mobile no:</strong>
  <%= @membership_form.k_mobile_no %>
</p>

<p>
  <strong>K tele no:</strong>
  <%= @membership_form.k_tele_no %>
</p>

<p>
  <strong>Nominee of death fund:</strong>
  <%= @membership_form.nominee_of_death_fund %>
</p>

<p>
  <strong>Form date:</strong>
  <%= @membership_form.form_date %>
</p>

<p>
  <strong>Applicants sign:</strong>
  <%= @membership_form.applicants_sign %>
</p>



<p>
  <strong>Proposer family name:</strong>
  <%= @membership_form.proposer_family_name %>
</p>

<p>
  <strong>Proposer mobile:</strong>
  <%= @membership_form.proposer_mobile %>
</p>

<p>
  <strong>Proposer tele:</strong>
  <%= @membership_form.proposer_tele %>
</p>

<p>
  <strong>Proposer memebership no:</strong>
  <%= @membership_form.proposer_memebership_no %>
</p>

<p>
  <strong>Proposer sign:</strong>
  <%= @membership_form.proposer_sign %>
</p>

<p>
  <strong>Seconder family name:</strong>
  <%= @membership_form.seconder_family_name %>
</p>

<p>
  <strong>Seconder mobile:</strong>
  <%= @membership_form.seconder_mobile %>
</p>

<p>
  <strong>Seconder tele:</strong>
  <%= @membership_form.seconder_tele %>
</p>

<p>
  <strong>Seconder memebership no:</strong>
  <%= @membership_form.seconder_memebership_no %>
</p>

<p>
  <strong>Seconder sign:</strong>
  <%= @membership_form.seconder_sign %>
</p>

<p>
  <strong>Status:</strong>
  <%= @membership_form.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @membership_form.user_id %>
</p>

<p>
  <strong>Membership fee:</strong>
  <%= @membership_form.membership_fee %>
</p>

<p>
  <strong>Receipt no:</strong>
  <%= @membership_form.receipt_no %>
</p>

<p>
  <strong>Cash dd:</strong>
  <%= @membership_form.cash_dd %>
</p>

<p>
  <strong>Receipt date:</strong>
  <%= @membership_form.receipt_date %>
</p>

<p>
  <strong>President sign:</strong>
  <%= @membership_form.president_sign %>
</p>

<p>
  <strong>Hon secretary sign:</strong>
  <%= @membership_form.hon_secretary_sign %>
</p>
<%#= image_tag  @membership_form.image%>
<img src=<%= @membership_form.image%>/>

<%= link_to 'Edit', edit_membership_form_path(@membership_form) %> |
<%= link_to 'Back', membership_forms_path %>
