<!DOCTYPE html>
<html>
  <head>
    <title>Membership</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <h2 style="text-align: center;">Welcome To KODAVA SAMAJA (R) Member Ship Form</h2>
    <%if notice.present? %>
    <br>
    <div class="alert alert-primary" role="alert">
    <%= notice %>
    </div>
    <%end%>
      <%= yield %>
    </div>
  </body>
</html>
